:root {
    --main-color: #08D9D6;
    --second-color: #FF2E63;
    --main-dark: #252A34;
    --main-light: #EAEAEA;
    --main-medium: #393E46;
    --main-gray: #202020;
}

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    min-width: 300px;
}

main {
    line-height: 1.4;
    padding-top: 54px;
}

header {
    z-index: 3;
    position: fixed;
    width: 100%;
    background-color: var(--main-dark);
    color: rgb(233, 233, 233);
    box-shadow: 0px -5px 10px 5px black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
}

.bar {
    display: block;
    width: 30px;
    height: 1px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--main-color);
    margin: 6px auto;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger:hover .bar {
    background-color: var(--second-color);
}

.nav-link {
    transition: 0.3s ease;
    display: block;
    padding: 0.7rem;
    font-size: 1.1rem;
    font-weight: 400;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-link:hover {
    color: var(--second-color);
}

.nav-menu {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    position: fixed;
    left: 0;
    top: 52px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    background-color: var(--main-dark);
    visibility: hidden;
}

.nav-item {
    display: block;
    width: 100%;
}

.nav-menu.active {
    visibility: visible;
}

.logo {
    max-height: 28px;
    display: block;
}

.first-letter {
    color: var(--main-color);
}

#about {
    position: relative;
    background-color: var(--main-medium);
    color: var(--main-light);
}

.portrait {
    display: block;
    box-shadow: 0 -10px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.about-text {
    padding: 2rem 1rem;
    font-weight: 300;
    background-image: linear-gradient(180deg, #393e46ef 0%, #202020e1 100%), url(../assets/homebg.svg);
    background-size: cover;
}

h1 {
    font-size: 1.8rem;
    font-weight: 500;
}

h2 {
    font-size: 1.2rem;
}

.cv {
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.616);
    border-radius: 1rem;
    margin-top: 1rem;
    padding: 0.2rem 0.6rem;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.349);
    font-weight: 500;
}

.cv:hover {
    background-color: var(--second-color);
    transition-duration: 0.3s;
}

.about-container {
    position: relative;
}

.linked-git-icons {
    padding: 0.4rem;
    position: absolute;
    z-index: 2;
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    background-color: #00000091;
    backdrop-filter: blur(3px);
}

.linked-git-icons a {
    display: flex;
}

.about-icons {
    height: 30px;
    fill: var(--main-light);
}

.about-icons:hover {
    fill: var(--second-color);
    transition-duration: 0.35s;
}

#projects {
    background-color: var(--main-gray);
    color: var(--main-light);
    padding-bottom: 0.5rem;
    background: linear-gradient(0deg, rgba(57, 62, 70, 1) 0%, rgba(32, 32, 32, 1) 100%);
}

h3 {
    padding: 2rem 1rem;
    font-size: 1.7rem;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Kanit', sans-serif;
}

.project {
    margin: 1rem;
    background-color: var(--main-dark);
    overflow: hidden;
    border-radius: 0.4rem;
    border: 1px solid #ffffff24;
}

.project:first-of-type {
    margin: 0 1rem 1rem
}

.project-preview {
    display: block;
}

.project p {
    margin: 0.9rem 0;
}

.project-content {
    padding: 0.7rem;
}

.project-stack {
    display: flex;
    gap: 0.5rem;
}

.project-stack img {
    height: 30px;
}

.project-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.15rem;
    font-weight: 500;
    gap: 0.5rem;
    padding: 0.3rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.project-links {
    color: var(--main-color);
    font-weight: 500;
    margin-right: 0.5rem;
    white-space: nowrap;
}

.project-links:hover {
    color: var(--second-color);
    transition-duration: 0.3s;
}

#contact {
    background-color: var(--main-dark);
    color: var(--main-light);
}

form {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 1.5rem;
}

input:focus,
textarea:focus {
    outline: 1px solid #08d9d642;
    background-color: #09141b;
}

.form-input {
    display: block;
    background: none;
    width: 100%;
    border: none;
    border-bottom: 1px solid #08d9d642;
    box-shadow: rgb(16 162 212 / 10%) 0px 15px 17px -20px;
    padding: 1rem;
    font-weight: 200;
    margin: 1.3rem auto;
    color: var(--main-light);
    font-size: 1.1rem;
    border-radius: 0.15rem;
}

.form-input:first-child {
    margin-top: 0;
}

textarea.form-input {
    border: 1px solid #08d9d642;
    height: 150px;
}

::placeholder {
    color: var(--main-light);
    opacity: 1;
    font-weight: 200;
    letter-spacing: 0.06rem;
}

.btn-submit {
    display: block;
    margin: 1rem auto;
    font-size: 1.1rem;
    background-color: var(--main-color);
    border: none;
    border-radius: 0.15rem;
    color: var(--main-gray);
    padding: 0.5rem 1.5rem;
    font-weight: 500;
}

.btn-submit:hover {
    background-color: var(--second-color);
    cursor: pointer;
    color: var(--main-light);
    transition-duration: 0.3s;
}

footer {
    text-align: center;
    padding: 1.5rem 0;
    background-color: var(--main-gray);
    color: var(--main-light);
    font-weight: 300;
    font-size: 0.9rem;
}

@media screen and (min-width: 576px) {

    header {
        position: relative;
    }

    main {
        padding-top: 0;
    }

    .navbar {
        padding: 0.4rem 0.8rem;
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        position: relative;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: flex-end;
        gap: 0.7rem;
        background-color: rgba(240, 248, 255, 0);
        border: none;
        visibility: visible;
    }

    .nav-link {
        border-bottom: none;
    }

    .nav-item {
        width: fit-content;
    }

    .hamburger {
        display: none;
    }

}

@media screen and (min-width: 768px) {

    #about {
        background-image: linear-gradient(180deg, #393e46ef 0%, #202020e1 100%), url(../assets/homebg.svg);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .about-text {
        background: none;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .about-container{
        width: 800px;
    }

    .project {
        width: 44%;
        min-height: 370px;
    }

    .project:first-of-type {
        margin: 1rem
    }

    .projects-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

}

@media screen and (min-width: 992px) {


}