:root {
    --main-color: #08D9D6;
    --second-color: #FF2E63;
    --main-dark: #252A34;
    --main-light: #EAEAEA;
    --main-medium: #393E46;
    --main-gray: #202020;
}

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    min-width: 300px;
    letter-spacing: 0.8px;
}

main {
    line-height: 1.4;
    padding-top: 54px;
}

header {
    z-index: 3;
    position: fixed;
    width: 100%;
    background-color: var(--main-dark);
    background: linear-gradient(270deg, rgba(32,32,32,1) 0%, rgba(37,42,52,1) 55%);
    color: rgb(233, 233, 233);
    box-shadow: 0px -5px 10px 5px rgba(0, 0, 0, 0.5);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
}

.bar {
    display: block;
    width: 30px;
    height: 1px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--main-color);
    margin: 6px auto;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger:hover .bar {
    background-color: var(--second-color);
}

.nav-link {
    transition-duration: 0.3s;
    display: block;
    padding: 0.7rem;
    font-size: 1.1rem;
    font-weight: 400;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-link:hover {
    color: var(--main-color);
}

.nav-menu {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    position: fixed;
    left: 0;
    top: -124px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    background-color: var(--main-dark);
    opacity: 0;
}

.nav-menu.active {
    left: 0;
    top: 53px;
    opacity: 1;
}

.nav-item {
    display: block;
    width: 100%;
}

.logo {
    max-height: 28px;
    display: block;
}

.first-letter {
    color: var(--main-color);
}

#about {
    position: relative;
    background-color: var(--main-medium);
    color: var(--main-light);
}

.portrait {
    display: block;
    box-shadow: 0 -10px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.about-text {
    padding: 2.2rem 2rem;
    font-weight: 300;
    background-image: linear-gradient(180deg, #004c4bf0 0%, #a6a6a6e3 100%), url(../assets/homebg.svg);
    background-size: cover;
    text-shadow: 0 0 10px rgb(0 0 0 / 90%);
}

h1 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 0.2rem;
}

h2 {
    font-size: 1.2rem;
}

.cv {
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.616);
    border-radius: 1rem;
    padding: 0.2rem 0.6rem;
    width: max-content;
    background-color: rgba(0, 0, 0, 0.349);
    font-weight: 500;
    gap: 0.3rem;
    white-space: nowrap;
}

.cv:hover {
    background-color: #181A20;
    transition-duration: 0.3s;
    border: 1px solid #08d9d696;
}

.about-container {
    position: relative;
}

.portrait768 {
    display: none;
}

.linked-git-icons {
    padding-top: 1.3rem;
    width: fit-content;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}

.linked-git-icons a {
    display: flex;
}

.about-icons {
    height: 30px;
    fill: var(--main-light);
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.445));
}

.about-icons:hover {
    fill: var(--main-color);
    transition-duration: 0.2s;
}

#projects {
    background-color: var(--main-gray);
    color: var(--main-light);
    padding-bottom: 0.5rem;
    background: linear-gradient(0deg, rgba(57, 62, 70, 1) 0%, #09141b 100%);
    box-shadow: 0 0 7px #000000bf;
    position: relative;
}

h3 {
    color: rgba(255, 255, 255, 0.8);
    padding: 2rem 1rem;
    font-size: 1.7rem;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Kanit', sans-serif;
}

.project {
    margin: 1rem;
    background-color: var(--main-dark);
    overflow: hidden;
    border-radius: 0.4rem;
    border: 1px solid #ffffff24;
}

.project:first-of-type {
    margin: 0 1rem 1rem
}

.project-preview {
    display: block;
}

.project p {
    margin: 0.9rem 0;
}

.project-content {
    padding: 0.7rem;
}

.project-stack {
    display: flex;
    gap: 0.5rem;
}

.project-stack img {
    height: 30px;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.8));
}

.project-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.15rem;
    font-weight: 500;
    gap: 0.5rem;
    padding: 0.3rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.project-links {
    color: var(--main-color);
    font-weight: 500;
    margin-right: 0.5rem;
    white-space: nowrap;
}

.project-links:hover {
    color: var(--second-color);
    transition-duration: 0.3s;
}

#contact {
    background-color: var(--main-dark);
    color: var(--main-light);
    padding: 1.5rem 0;
}

form {
    width: 80%;
    max-width: 720px;
    margin: 0 auto;
    padding-bottom: 1.5rem;
}

input:focus,
textarea:focus {
    outline: 1px solid #08d9d642;
    background-color: #09141b;
}

.form-input {
    display: block;
    background: none;
    width: 100%;
    border: none;
    border-bottom: 1px solid #08d9d642;
    box-shadow: rgb(16 162 212 / 10%) 0px 15px 17px -20px;
    padding: 1rem;
    font-weight: 200;
    margin: 1.3rem auto;
    color: var(--main-light);
    font-size: 1.1rem;
    border-radius: 0.15rem;
}

.form-input:first-child {
    margin-top: 0;
}

textarea.form-input {
    border: 1px solid #08d9d642;
    height: 150px;
}

::placeholder {
    color: var(--main-light);
    opacity: 1;
    font-weight: 200;
    letter-spacing: 0.06rem;
}

.btn-submit {
    display: block;
    margin: 1rem auto;
    font-size: 1.1rem;
    background-color: var(--main-color);
    border: none;
    border-radius: 0.15rem;
    color: var(--main-gray);
    padding: 0.5rem 1.5rem;
    font-weight: 500;
}

.btn-submit:hover {
    background-color: var(--second-color);
    cursor: pointer;
    color: var(--main-light);
    transition-duration: 0.3s;
}

footer {
    text-align: center;
    padding: 1.5rem 0;
    background-color: var(--main-gray);
    color: var(--main-light);
    font-weight: 300;
    border-top: 1px solid rgba(255, 255, 255, 0.068);
}

footer p {
    margin: 0.6rem;
    font-size: 0.9rem;
}

.footer-menu {
    margin: 0.6rem;
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    font-weight: 400;
}

.footer-link:hover {
    color: var(--second-color);
}

@media screen and (min-width: 576px) {

    header {
        position: relative;
    }

    main {
        padding-top: 0;
    }

    .navbar {
        padding: 0.4rem 2rem;
        gap: 1rem;
    }

    .nav-menu,
    .nav-menu.active {
        display: flex;
        flex-direction: row;
        position: relative;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: flex-end;
        gap: 0.7rem;
        background-color: rgba(240, 248, 255, 0);
        border: none;
        opacity: 1;
        width: fit-content;
    }

    .nav-link {
        border-bottom: none;
        padding: 0;
        margin: 0.7rem;
    }

    .nav-item:last-of-type .nav-link {
        margin: 0.7rem 0 0.7rem 0.7rem;
    }

    .nav-item {
        width: fit-content;
    }

    .hamburger {
        display: none;
    }

    .logo {
        max-height: 35px;
    }

    h3 {
        font-size: 2.3rem;
        padding: 4rem 1rem 3.5rem;
        letter-spacing: 4.4px;
    }

}

@media screen and (min-width: 768px) {

    #about {
        background-image: linear-gradient(180deg, #004c4bf0 0%, #b6b6b6d6 100%), url(../assets/homebg.svg);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .about-text {
        color: whitesmoke;
        background: none;
        padding: 2rem;
        margin: 0 auto;
    }

    .cv {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .linked-git-icons {
        flex-wrap: nowrap;
    }

    .about-icons {
        height: 35px;
    }

    .about-container {
        width: 890px;
    }

    .portrait {
        display: none;
    }

    .portrait768 {
        display: block;
    }

    .project,
    .project:first-of-type {
        width: 45%;
        min-height: 370px;
        margin: 1rem;
    }

    .projects-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #projects {
        padding-bottom: 3.5rem;
    }

}

@media screen and (min-width: 992px) {

    .navbar {
        padding: 0.4rem 4rem;
        max-width: 1780px;
        margin: 0 auto;
    }

    h1 {
        font-size: 2.5rem;
        font-weight: 300;
        white-space: nowrap;
    }

    h2 {
        font-size: 1.4rem;
    }

    h3 {
        padding: 4rem 1rem 2.5rem;
        font-size: 2.6rem;
    }

    .project,
    .project:first-of-type {
        width: 40%;
        max-width: 640px;
        margin: 2rem;
    }

}